[submodule "external/gu"]
	path = external/gu
	url = https://github.com/hilkojj/cpp-game-utils.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/lua/lua"]
	path = external/lua/lua
	url = https://github.com/lua/lua.git
[submodule "external/lua/sol2"]
	path = external/lua/sol2
	url = https://github.com/hilkojj/sol2.git
[submodule "external/dibidab-header"]
	path = external/dibidab-header
	url = https://github.com/hilkojj/dibidab-header.git
